body {
    background-color: cornflowerblue;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
}

li {
    list-style: none;
    padding: 5px;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    width: 100%;
    border: 1px solid rgba(240, 240, 240, 0.4);
}

.wrap {
    width: 1000px;
    background-color: rgba(216, 178, 255, 0.4);
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 2px 2px 0px #888888;
}

.header {
    /* background-image: url(header.jpg);*/
    
    background-color: rgba(240, 240, 240, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px #888888;
    margin: 0 auto;
}

.header li {
    list-style: none;
    float: left;
    margin: 5px 10px 5px 10px;
}

.header ul {
    float: right;
}

.header li a:link {
    text-decoration: none;
    color: blueviolet;
    font-size: 1.5em;
    padding: 5px 10px 5px 10px;
}

.header li a:hover {
    background-color: grey;
    color: white;
}

.header li a:active {
    color: #5C5C5C;
}

.content {
    padding: 0px;
}

.yuzde100 {
    border: 1px solid rgba(222, 222, 222, 0.4);
    padding: 0;
}

.yuzde40 {
    display: inline-block;
    width: 300px;
    padding: 20px;
    border: 1px solid grey;
    background-color: rgba(222, 222, 222, 0.4);
}

.yuzde40 ul {
    width: 100%;
}

.yuzde40 a {
    width: 100px;
    background-color: rgba(240, 240, 240, 0.4);
}

.yuzde40 ul {
    width: 100%;
}

.yuzde60 {
    float: right;
    width: 605px;
    padding: 20px;
    top: 100px;
    background-color: rgba(222, 222, 222, 0.4);
    border-radius: 5px;
    margin-top: 20px;
}

.next {
    background-color: indianred;
    padding: 10px;
}

.next a {
    padding: 0;
    margin: auto 0;
}

.text {
    margin-top: 20px
}